.DS_ignore

node_modules/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Text file containing address (Testing)
*.txt

# WebStrom editor
.idea/

# unit tests coverage directory
.nyc_output/
coverage/